[Desktop Entry]
Encoding=UTF-8
Name=Link to 清华大学脑机接口研究组
Type=Link
URL=http://bci.med.tsinghua.edu.cn/download.html
Icon=text-html
Name[en_US]=Link to the homepage
